services:
  postgres:
    image: postgres:16
    container_name: spring-postgres
    environment:
      POSTGRES_DB: springbootdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: spring-redis
    ports:
      - "6379:6379"

  app:
    build: .
    container_name: spring-app
    depends_on:
      - postgres
      - redis
    ports:
      - "8081:8081"

volumes:
  pgdata:
